{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

        <div class="main-content">
            <div class="heading">
                <h1>Discover Drug Repurposing Candidates</h1>
                <h3>Powered by natural language processing and deep learning</h3>
            </div>
            <form id="basic-search" action="{{ url_for('views.loading') }}" method="post">
                <input type="hidden" name="form_id" value="form1">
                <label for="disease-name">Disease Name</label>
                <input type="text" id="disease-name" name="disease-name" placeholder="venous thrombosis">
                <label for="disease-id">Disease ID</label>
                <input type="text" id="disease-id" name="disease-id" placeholder="DI-00127">
                <button type="submit">Start Pipeline</button>
            </form>
            <p>Advanced</p>
            <dialog>
                <div class="dialog-content">
                    <svg id="dialog-close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    <form id="advanced-search" action="{{ url_for('views.loading') }}" method="post">
                        <input type="hidden" name="form_id" value="form1">
                        <label for="disease-name">Disease Name</label>
                        <input type="text" id="disease-name" name="disease-name" placeholder="venous thrombosis">
                        <label for="disease-id">Disease ID</label>
                        <input type="text" id="disease-id" name="disease-id" placeholder="DI-00127">
                        <div class="horizontal-container">
                            <div class="advanced-inputs">
                                <label for="num-processes">Multiprocessing</label>
                                <input type="text" id="num-processes" name="num-processes" placeholder="Number of Processes">
                            </div>
                            <div class="advanced-inputs">
                                <label for="email">Email</label>
                                <input type="text" id="email" name="email" placeholder="researcher@lab.edu">
                            </div>
                        </div>
                        <label for="api-key">NCBI API Key</label>
                        <input type="text" id="api-key" name="api-key" placeholder="required to use EDirect">
                        <label for="remove-terms">Remove Terms</label>
                        <input type="text" id="remove-terms" name="remove-terms" placeholder="terms to remove from results">
                        <button type="submit">Start Pipeline</button>
                    </form>

                </div>
            </dialog>
        </div>

        <div class="body-content">
            <div class="uniprot-heading">
                <h1>Search UniProt</h1>
                <h3>Selected Diseases' Associated Proteins Used as Targets</h3>
            </div>
    
            <div class="table-container">
                <table id="uniprot" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>DiseaseID</th>
                            <th>Name</th>
                            <th>Keywords</th>
                            <th>Alternative Names</th>
                            <th>Description</th>
                            <th>Mnemonic</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for disease in disease_data %}
                            <tr>
                                <td>{{disease['DiseaseEntryID']}}</td>
                                <td>{{disease['Name']}}</td>
                                <td>{{disease['Keywords']}}</td>
                                <td>{{disease['Alternative Names']}}</td>
                                <td>{{disease['Description']}}</td>
                                <td>{{disease['Mnemonic']}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <!-- DataTables JS -->
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

        <script src="../static/table.js"></script>
        <script src="../static/script.js"></script>
{% endblock %}