{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

        <div class="main-content">
            <div class="heading">
                <h1>Discover Drug Repurposing Candidates</h1>
                <h3>Powered by natural language processing and deep learning</h3>
            </div>
            <form action="#" method="post">
                <label for="search">Query Term</label>
                <input type="text" id="search" name="user-search">
                <input type="submit" value="Submit">
            </form>
        </div>
        
        

        <div class="table-container">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>DiseaseID</th>
                        <th>Name</th>
                        <th>Keywords</th>
                        <th>Alternative Names</th>
                        <th>Description</th>
                        <th>Mnemonic</th>
                    </tr>
                </thead>
                <tbody>
                    {% for disease in disease_data %}
                        <tr>
                            <td>{{disease['DiseaseEntryID']}}</td>
                            <td>{{disease['Name']}}</td>
                            <td>{{disease['Keywords']}}</td>
                            <td>{{disease['Alternative Names']}}</td>
                            <td>{{disease['Description']}}</td>
                            <td>{{disease['Mnemonic']}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <!-- DataTables JS -->
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

        <script src="../static/table.js"></script>
{% endblock %}