{% extends "base.html" %}

{% block title %}Loading{% endblock %}

{% block content %}
    {% if load_type == "disease" %}
        <div class="loading-container">
            <h1>Pipeline Working</h1><br>

            <h2>Getting data for</h2>
            <p>{{disease_name}}</p>
        
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>

    {% elif load_type == "w2v" %}
        <div class="loading-container">
            <h1>Word2Vec Model Training</h1><br>

            <h2>User Prediction Term</h2>
            <p>{{prediction_term}}</p>
        
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
    {% elif load_type == "drug-profiles" %}
        <div class="loading-container">
            <h1>Generating Drug Profiles</h1><br>

            <h2>Inputted UniProt ID</h2>
            <p>{{disease_id}}</p>
        
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
    {% endif %}
    
    

{% endblock %}

{% block script %}
    <script>window.location.href = "{{ url_for('views.data') }}"</script>
{% endblock %}