@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
}

h1, h2, h3, p, input, button, form {
    font-family: "Roboto", serif;
}

header {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(217, 217, 217);
    height: 4rem;
    top: 0;
}

header a {
    color: black;
    text-decoration: none;
}

header button {
    font-weight: 500;
    border: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 2rem;
}

.main-content{
    box-sizing: border-box;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #3B7082;
    margin-bottom: 3rem;
}

.main-content h1 {
    font-size: 2.5rem;
}

.main-content h3 {
    font-weight: 300;
}

.main-content .heading {
    font-family: "Roboto", serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

#basic-search input[type="text"] {
    margin-bottom: 2rem;
    width: 100%;
    padding: .5rem;
    border-radius: 1rem;
    border: none;
}

#basic-search {
    font-family: "Roboto", serif;
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.main-content input {
    margin: 0.5rem
}

#basic-search button, #disease-selection button {
    font-weight: 500;
    color: white;
    background-color: #264854;
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.main-content button:hover {
    background-color: #2b444d;
}

.main-content p {
    color: white;
    font-size: 0.75rem;
    margin-top: 1rem;
    cursor: pointer;
}


.main-content p:hover {
    text-decoration: underline;
}


footer {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    background-color: #3E484D;
    bottom: 0;
}

#content {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.uniprot-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.uniprot-heading h3 {
    font-weight: 300;
    font-style: italic;
}

.table-container {
    max-height: 30rem;
    /* border: 1px solid #B2B2B2; */
    overflow: scroll;
}
  
.table-container input {
    border-radius: 1rem;
}

.body-content {
    padding-left: 8rem;
    padding-right: 8rem;
    margin-bottom: 4rem;
}

#uniprot_wrapper input[type="search"],
#compounds_wrapper input[type="search"],
#features_wrapper input[type="search"],
#diseases_wrapper input[type="search"] {
    border-radius: 1rem;
}

#uniprot_wrapper input[type="search"]:focus,
#compounds_wrapper input[type="search"]:focus,
#features_wrapper input[type="search"]:focus,
#diseases_wrapper input[type="search"]:focus {
    outline: none;
}

#uniprot_wrapper,
#compounds_wrapper,
#features_wrapper,
#diseases_wrapper {
    font-family: "Roboto", serif;
    font-weight: 300;
}

dialog {
    border: 1px solid grey;
    border-radius: 1rem;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);
}

.dialog-content {
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.dialog-content input {
    width: 100%;
}

#advanced-search input, #disease-selection input {
    padding: .5rem;
    border-radius: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

dialog svg {
    stroke: gray;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

dialog svg:hover {
    stroke: rgba(128, 128, 128, 0.5);
}

dialog button {
    font-weight: 500;
    color: white;
    background-color: #264854;
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    margin-top: 1rem;
}

.advanced-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal-container {
    display: flex;
    gap: 2rem;
}

.disease-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
}

#disease-selection {
    font-family: "Roboto", serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
}

#disease-selection input {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 50%;
    border: 1px solid grey;
}

#output-table {
    margin-bottom: 4rem;
}

.data-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 2rem 0;
}

/* Loader Animation */

.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.loading-container {
    height: calc(100vh - (4rem + 1px));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





